<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Historique</title>
    <style>
        .cov{
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center center !important;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">What we offer</span>
                <h2 class="mb-2">Our CARS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">
                    <div class="item" th:each="v:${voitures}">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="cov img rounded d-flex align-items-end" th:style="' background:url(/cssAdmin/Admin_Pic/'+${v.image}+');'">
                            </div>
                            <div class="text">
                                <h2 class="mb-0" th:text="${v.nom}"></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat" th:text="${v.marque}"></span>
                                    <p class="price ml-auto" th:text="${v.prix}"></p> <span>Dh/day</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section ftco-about mt-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="cover col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/cssAdmin/Admin_Pic//logo.png);">
                </div>
                <div class="col-md-6 wrap-about ftco-animate">
                    <div class="heading-section heading-section-white pl-md-5">
                        <span class="subheading">About us</span>
                        <h2 class="mb-4">Welcome to Carbook</h2>

                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <p><a href="/Liste_des_Voitures" class="btn btn-primary py-3 px-4">Search Vehicle</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</div>
</body>
</html>