<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="layoutadmin.html">
<head>
    <meta charset="UTF-8">
    <title>Liste des Clients</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Liste des Clients</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">CIN</th>
                        <th scope="col">Email</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Détail</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a:${clients}">
                        <th scope="col" th:text="${a.id}"></th>
                        <th scope="col" th:text="${a.nom}"></th>
                        <th scope="col" th:text="${a.prenom}"></th>
                        <th scope="col" th:text="${a.cin}"></th>
                        <th scope="col" th:text="${a.email}"></th>
                        <th scope="col" th:text="${a.telephone}"></th>
                        <th scope="col">
                            <a class="btn btn-info" th:href="@{/Admin/Detail_Client/{id}('id'=${a.id})}">Détail </a>
                        </th>
                        <th scope="col">
                            <a class="btn btn-danger" th:href="@{/Admin/Supprimer_Client/{id}('id'=${a.id})}">Suprimer </a>
                        </th>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary" href="/Admin/Ajouter_Client" >Ajouter </a>
            </div>
        </div>
    </div>
</div>


</body>
</html>