<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Liste des Voitures</title>
</head>
<body>
<div layout:fragment="content">
    <section class="ftco-section ftco-car-details">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="car-details">
                        <div class="img rounded"  th:style="' background:url(/cssAdmin/Admin_Pic/'+${voiture.image}+');'"></div>
                        <div class="text text-center">
                            <span class="subheading" th:text="${voiture.nom}"></span>
                            <h2  th:text="${voiture.marque}"></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pistons"></span></div>
                                <div class="text">
                                    <h3 class="heading mb-0 pl-3">
                                        Transmission
                                        <span  th:text="${voiture.type_de_transmition}"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car-seat"></span></div>
                                <div class="text">
                                    <h3 class="heading mb-0 pl-3">
                                        Seats
                                        <span  th:text="${voiture.capacite}"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services">
                        <div class="media-body py-md-4">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-diesel"></span></div>
                                <div class="text">
                                    <h3 class="heading mb-0 pl-3">
                                        Fuel
                                        <span  th:text="${voiture.type_de_gasol}"></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class=" ftco-section ftco-no-pt bg-light w-100 d-flex align-items-center ">
                <div class="container w-50">
                    <form action="#" method="post" class=" request-form ftco-animate bg-primary" th:object="${reservation}">
                       <h2>Choisi votre periode</h2>

                           <div class="form-group">
                                 <label for="time1" class="label">Date de debut</label>
                                  <input type="date" class="form-control" id="time1" placeholder="date debut" th:field="*{date_de_debut}">
                           </div>
                                <div class="form-group">
                                  <label for="time" class="label">Date fin</label>
                                  <input type="date" class="form-control" id="time" placeholder="date fin" th:field="*{date_de_fin}">
                           </div>
                                        <div class="form-group">
                                            <input type="submit" value="Reserver voiture" class="btn btn-secondary py-3 px-4">
                                        </div>
                                    </form>
                                </div>
            </section>
        </div>
    </section>
</div>

</body>
</html>