<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="layoutadmin.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">


    <div class="bg-light rounded h-100 p-4 justify-content-around">
        <h6 class="mb-4 text-center">Modifer Votre Compte</h6>
        <form action="" method="post" th:object="${admin}">

            <div class="d-flex justify-content-around">
                <div>
                    <div class="mb-3">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="nom" th:value="*{nom}" th:field="*{nom}"/>
                    </div>
                    <div class="mb-3">
                        <label for="prenom" class="form-label">Prenom</label>
                        <input type="text" class="form-control" id="prenom" th:value="*{prenom}" th:field="*{prenom}">
                    </div>
                    <div class="mb-3">
                        <label for="tele" class="form-label">Téléphone</label>
                        <input type="text" class="form-control" id="tele" th:value="*{telephone}" th:field="*{telephone}"/>
                    </div>


                </div>
                <div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" th:value="*{email}" th:field="*{email}"/>
                    </div>
                    <div class="mb-3">
                        <label for="login" class="form-label">Login</label>
                        <input type="text" class="form-control" id="login" th:value="*{login}" th:field="*{login}"/>
                    </div>

                </div>
            </div>
            <div class="text-center w-100">
                <button type="submit" class="btn btn-primary w-25">Modifier</button>
            </div>
        </form>
    </div>
</body>
</html>